// font-family: 'Montserrat', sans-serif;
@import "vars";

html {
   font-size: 10px;
   font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

p {
   margin: 0 0 1rem 0;
}

ul {
   margin: 0;
   padding: 0;
}

body {
   margin: 0;

   font-size: 1.6rem;
}

/* Blocks */

@import "blocks/layout";
@import "blocks/container";
@import "blocks/header";
@import "blocks/task_1";
