$blck: #000;
$wht: #fff;

$ff-prm: 'Open Sans', sans-serif;
$ff-sec: 'Montserrat', sans-serif;

$text-prm: #666;
$text-sec: #fff;
$fw-bold: 700;
$fw-med: 500;
$fw-def: 400;

$d-green: #254741;
$green: #029F59;
$l-green: #F5F7F3;

$g-lh: 1.35;