@import "vars";
@import "uikit";

html {
   font-size: 10px;
   font-family: $ff-prm;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

p {
   margin: 0 0 1rem 0;
}

ul {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;

   &:hover {
      text-decoration: none;
   }
}

body {
   margin: 0;

   font-size: 1.6rem;
   line-height: $g-lh;
}

/* Blocks */

@import "../layouts/layout";
@import "container";
@import "../components/header/header";
@import "../components/site-nav/nav";
@import "btn";